.mailList {
    display: flex;
    flex-direction: column;
}
.contacts {
    gap: 8px; /*отступ между элементами списка почт*/
}
.contacts li a {
    color: #303030;
}
.footer {
    gap: 4px; /*отступ между элементами списка почт*/
}
.footer li a {
    color: #303030;
}
@media screen and (max-width: 600px) {
    .contacts {
        gap: 4px; /*отступ между элементами списка почт*/
    }
    .contacts li a {
        font-size: 16px;
        line-height: 28px;
    }
}