h1 {
    margin: 0;
}

html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
}

.anchorAboutUs, .anchorServices,
.anchorMaterials, .anchorOurWorks,
.anchorContacts, .anchorContactUs {
    display: block;
    visibility: hidden;
    height: 100px;
    margin-top: 0;
}
.anchorAboutUs {
    margin-top: -100px;
}
@media screen and (max-width: 600px) {
    .anchorAboutUs, .anchorServices,
    .anchorMaterials, .anchorOurWorks,  
    .anchorContacts, .anchorContactUs {
        height: 60px;
    }
    .anchorAboutUs {
        margin-top: -60px;
    }
}