#contacts {
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 24px 84px; /*внутренний отступ секции*/
    gap: 40px; /*отступ между заголовком и содержимым секции*/
}
.header h2 {
    margin: 0;

    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    color: #000000;
}
.contactsBox {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; /*отступ между картой и блоком контактов*/
}
.contactsList {
    display: flex;
    flex-direction: column;
    gap: 32px; /*отступ между списком контактов и списком соц сетей*/
}

@media screen and (max-width: 1024px) {
    #contacts {
        padding: 24px 32px; /*внутренний отступ секции*/
        gap: 32px; /*отступ между заголовком и содержимым секции*/
    }
    .header h2 {
        font-size: 28px;
        line-height: 36px;
    }
    .contactsBox {
        flex-direction: column;
        justify-content: initial; /*отступ между картой и блоком контактов*/
        gap: 32px; /*отступ между списком контактов и списком соц сетей*/
    }
    .contactsList {
        text-wrap: wrap;
        gap: 32px; /*отступ между списком контактов и списком соц сетей*/
    }
}
@media screen and (max-width: 600px) {
    #contacts {
        gap: 20px; /*отступ между заголовком и содержимым секции*/
    }
    .header h2 {
        font-size: 24px;
        line-height: 32px;
    }
    .contactsBox {
        gap: 16px; /*отступ между картой и блоком контактов*/
    }
    .contactsList {
        gap: 8px; /*отступ между списком контактов и списком соц сетей*/
    }
}