.servicePage {
    max-width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between; /*отступ между описанием и боковым блоком*/
    padding: 64px 148px; /*внутренний отступ секции*/
}
.serviceBox {
    display: flex;
    flex-direction: column;
    padding: 0 36px 0 24px; /*внутренний отступ описания*/
    gap: 16px; /*отступ между заголовком и описанием*/
}
.serviceBox h1 {
    margin: 0;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
}

.serviceDetails {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 24px; /*отступ между блоками текста*/
}
.list h4,
.list ul > li,
.serviceDetails p {
    margin: 0;
    font-size: 16px;
    line-height: 22px;
    color: #888888;
}
.list {
    display: flex;
    flex-direction: column;
    gap: 12px; /*отступ между заголовком и списком*/
}
.list h4 {
    font-weight: 700;
    color: #000000;
}
.list ul {
    padding-left: 20px;
}
.list ul > li {
    padding-left: 20px;
    list-style-type: disc;
}
.list ul > li strong {
    font-weight: 700;
}

.aditionalBox {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}
.toOrderBox {
    padding: 16px 24px;
    width: 336px;
    box-sizing: border-box; /*виксирует размер блока не давая padding расширять блок*/
    gap: 40px; /*отступ между кнопкой и текстом*/
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E7E7E7;
    
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}

.orderInfo {
    width: 100%;
    gap: 16px; /*отсутп между заголовком и ценой*/
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.orderInfo h1 {
    font-weight: 600;
    font-size: 28px;
    line-height: 36px;
}
.orderInfo p {
    margin: 0;
    font-weight: 300;
    font-size: 24px;
    line-height: 32px;
}
.orderInfo p strong {
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;

    color: #888888;
}
.toServicesBtn {
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
}
.toServicesBtn a {
    font-size: 20px;
    line-height: 28px;
    color: #FFFFFF;
    background-color: #888888;

    width: 100%;
    padding: 16px;
    text-decoration: none;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

@media screen and (max-width: 1024px) {
    .servicePage {
        flex-direction: column;
        justify-content: initial;
        padding: 64px 32px; /*внутренний отступ секции*/
        gap: 40px; /*отступ между описанием и боковым блоком*/
    }
    .serviceBox {
        padding: 0 24px; /*внутренний отступ описания*/
    }
    .serviceBox h1 {
        font-size: 32px;
        line-height: 40px;
        text-align: center;

    }
    .aditionalBox {
        box-sizing: border-box;
        padding: 0 48px;
        width: 100%;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
    }
    .orderInfo {
        align-items: flex-start;
    }
}
@media screen and (max-width: 600px) {
    .servicePage {
        padding: 16px; /*внутренний отступ секции*/
        gap: 28px; /*отступ между описанием и боковым блоком*/
    }
    .serviceBox {
        padding: 0px 36px 0px 24px; /*внутренний отступ описания*/
        gap: 16px;

    }
    .serviceBox h1 {
        font-size: 28px;
        line-height: 44px;
    }


    .aditionalBox {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0;
        gap: 28px;
    }
    .toOrderBox {
        width: 100%;
        padding: 16px;
        gap: 12px; /*отступ между текстом и кнопкой*/
    }
    .orderInfo {
        align-items: center;
        text-align: center;
        padding: 0 4px;
        gap: 4px;
    }
    .orderInfo h1 {
        font-size: 24px;
        line-height: 32px;
    }
    .orderInfo p {
        font-size: 20px;
        line-height: 28px;
    }
    .orderInfo strong {
        font-size: 32px;
        line-height: 40px;
    }
    .toServicesBtn a {
        padding: 12px 16px;
    }
}