@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Finlandica:ital,wght@0,400..700;1,400..700&display=swap');

* {
    font-style: normal;
    color: #001F29;
}

.notFoundDisplay {
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 164px;
    line-height: 172px;
}

.display {
    font-family: 'Open Sans';
    font-weight: 800;
    font-size: 80px;
    line-height: 120%;
}

.price {
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    color: #52C6EF;
}

.headerL {
    font-family: 'Finlandica';
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
}

.headerM {
    font-family: 'Finlandica';
    font-weight: 500;
    font-size: 32px;
    line-height: 40px;
}

.headerS {
    font-family: 'Finlandica';
    font-weight: 600;
    font-size: 28px;
    line-height: 36px;
}

.titleL {
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
}

.titleM {
    font-family: 'Finlandica';
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
}

.titleS {
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
}

.textL {
    font-family: 'Finlandica';
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
}

.textMRegular {
    font-family: 'Finlandica';
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
}

.textMBold {
    font-family: 'Finlandica';
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
}

.textS {
    font-family: 'Finlandica';
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

.labelL {
    font-family: 'Open Sans';
    font-weight: 300;
    font-size: 20px;
    line-height: 26px;
}

.labelLSemiBold {
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;

}

.labelM {
    font-family: 'Finlandica';
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
}

.labelMSemiBold {
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
}

.labelS {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}