.container,
.fields,
.formGroup {
  width: 100%;
  max-width: 500px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
}
.container {
  gap: 32px; /*отступ между кнопкой и полями*/
}
.fields {
  gap: 18px; /*отступ между полями*/
}
.formGroup {
  position: relative;
  display: flex;
  justify-content: center;
}

.formGroup > .inputField,
.formGroup > textarea,
.formGroup > select {
  font-size: 16px;
  line-height: 24px;

  color: #000000;
  background-color: #D9D9D9;
  border: 2px solid #888888;
  box-shadow: inset 0px 0px 12px rgba(0, 0, 0, 0.25);

  padding: 12px 16px; /*внутренний отступ всех полей ввода*/
  
  width: 100%;
  max-width: 500px; /* ширина всех полей ввода*/
  box-sizing: border-box;
  outline: none;

  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;

  transition: .5s;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -ms-transition: .5s;
  -o-transition: .5s;
}
.formGroup > select {
  padding: 12px 10px; /*внутренний отступ у select*/
}

.topicLabel,
.formGroup .textFieldLable {
  font-size: 16px;
  line-height: 24px;
  color: #888888;

  left: 0;
  padding: 10px 15px; /*внутренний отступ у всех label*/

  position: absolute;
  pointer-events: none;
  box-sizing: border-box;

  transition: .5s;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -ms-transition: .5s;
  -o-transition: .5s;
}

.topicLabel,
.formGroup .filled ~ .textFieldLable,
.formGroup .inputField:focus ~ .textFieldLable {
  padding: 0 10px; /*внутренний отступ label (при активации поля)*/
  letter-spacing: .2em;

  color: white;
  background-color: #888888;
  border: 1px solid #888888;

  transform: translateX(10px) translateY(-25px);
  -webkit-transform: translateX(10px) translateY(-25px);
  -moz-transform: translateX(10px) translateY(-25px);
  -ms-transform: translateX(10px) translateY(-25px);
  -o-transform: translateX(10px) translateY(-25px);
}

.formGroup  > select:focus-within{
  border-radius: 8px 8px 0 0;
  -webkit-border-radius: 8px 8px 0 0;
  -moz-border-radius: 8px 8px 0 0;
  -ms-border-radius: 8px 8px 0 0;
  -o-border-radius: 8px 8px 0 0;
}

.formGroup > input[type="submit"] {
  font-size: 20px;
  line-height: 28px;

  color: #FFFFFF;
  background-color: #888888;
  border: 1px solid #888888;

  padding: 16px 60px; /*внутренний отступ кнопки*/

  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

@media screen and (max-width: 1024px) {
  .container {
    gap: 28px; /*отступ между кнопкой и полями*/
  }
}
@media screen and (max-width: 600px) {
  .container {
    gap: 20px; /*отступ между кнопкой и полями*/
  }
  .formGroup > input[type="submit"] {
    width: 100%;
    padding: 12px 8px;
  }
}