* {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
    color: #000000;
}
* > strong, 
* > b {
    font-weight: 700;
}
* > i {
    font-style: italic;
}

ul {
    padding: 0;
    margin: 0;
}
li {
    list-style-type: none;
}
li > a:hover {
    text-decoration: underline;
}

.pageContent {
    background: #F1F7FF;
}