* {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
    color: #000000;
}
* > strong, 
* > b {
    font-weight: 700;
}
* > i {
    font-style: italic;
}
@import url('https://fonts.googleapis.com/css2?family=Finlandica:wght@100;200;300;400;500;600;700;800');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
* > a {
    cursor: pointer;
    font-family: 'Finlandica';
    font-style: normal;
    color: #041D2E
}
* > button,
* > input[type = "submit"] {
    cursor: pointer;
} 
ul {
    padding: 0;
    margin: 0;
}
li {
    list-style-type: none;
}
li > a:hover {
    text-decoration: underline;
}

.pageContent {
    background: #F1F7FF;
}